.gitignore
**/.DS_Store/**
.vscode/**
.claude/**
.history/**
DOCs/**
tree.out
**/.history
.devcontainer/**
scripts/**
TEST-P2-TERM/**
EarlyTesting/
HOLD/
REF-CHK/
EarlyTesting.md
INSTALL.md
CLAUDE.md
**/*NEW
**/*ORIG
**/*REF
**/.DS_Store
**/*.tgz
**/*.map
**/*.lst
**/*.gz
**/*.tgz
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/p2-pnut-ts
!client/node_modules/serialport
!client/node_modules/@serialport
!client/node_modules/debug
!client/node_modules/ms
!client/node_modules/node-gyp-build
client/src/**
server/src/**
client/testFixture/**
client/out/test/**
tasks/**
TEST_LANG_SERVER/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
!spin2.language-configuration.json
!spin1.language-configuration.json
syntaxes/*
!syntaxes/spin2.tmLanguage.json
!syntaxes/spin1.tmLanguage.json
themes/*
!themes/isp-spin-dark-theme.json
!themes/isp-spin-light-theme.json
!themes/isp-spin-dark-bg-theme.json
!themes/isp-spin-light-bg-theme.json
!themes/isp-spin-syntax-theme.json
images/.DS_Store
!images/**
!README.md
!CHANGELOG.md
!LICENSE
!copyright
CPU-PROFILE-WORK
TEST-P2-TERM
TEST_PNUT_TS
updVscode
*.tar.gz
